body {
  margin: 0;
}
nav ul {
  margin: 0px;
  display: flex;
  gap: 40px;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 44px;
  font-size: 12px;
  font-weight: 300;
}
nav a {
  text-decoration: none;
  color: #ffffff;
}
header {
  position: relative; /*기준점*/
  background-color: #161617;
  position: sticky;
  top: 0;
}
.apple-logo {
  width: 24px;
  height: 24px;
}
.header-icon {
  width: 14px;
  height: 14px;
}
/* store menu */
.store-menu {
  /* position: relative; 기준점 */
}
/* sub menu */
.sub-menu {
  display: none;
  position: absolute; /*기준점으로부터*/
  top: 44px; /*헤더 높이만큼 아래로(수정 필요)*/
  left: 0;
  color: #ffffff;
  background-color: black;
  width: 100vw;
  height: 490px;
  text-align: left;
  padding-left: 265px;
}
.sub-menu-items p {
  font-size: 12px;
  font-weight: 400;
  color: #868483;
}
.sub-menu ul {
  display: block;
  padding-left: 0px;
  font-size: 23px;
  font-weight: 500;
}
